# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Script/

# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.vc.db
*.vc.opendb

# MacOS
.DS_Store

# Windows
Thumbs.db

# Other
*.log
